name: my-app CI flow

on:
  push:
    branches: 
      - 'main'
      - 'develop'
  pull_request:
    branches:
      - 'main'
      - 'develop'

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - id: my-app-ci
      name: Tlx Continuous Integration
      uses: jmunta-tlx/tlx-cicd@v3
      with:
        project-name: 'my-app'
        project-type: 'mvn'
        project-artifact: target/my-app-1.0-SNAPSHOT.jar
        project-steps: all
      env:
          SLACK_WEBHOOK: ${{secrets.SLACK_WEBHOOK}}
          REPORT_NOTIFY: "slack#do_not_use_channel"
          SLACK_TITLE: Auto CI trigger - ${{ github.event_name }} in ${{ github.repository }} ${{ github.ref }} <${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }}|${{ github.sha }}> by ${{ github.actor}}
    - name: setup node
      uses: actions/setup-node@v1
      with:
        node-version: 14
      env:
        GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
    - name: setup semantic-release
      run: npm install -g semantic-release @semantic-release/changelog @semantic-release/commit-analyzer @semantic-release/exec semantic-release/git semantic-release/release-notes-generator
    - name: release
      env:
        GITHUB_TOKEN: ${{ secrets.PERSONAL_GITHUB_TOKEN }}
      run: chmod +x ./prepare_release.sh && npx semantic-release
